{% extends 'cvinterface/base.html' %}

{% block body %}
    <section class="requests-table">
        <header>
            <h2>
                {{ request_verbose_name }}s
                <span class="parent-link">
                    <a href="{% url 'requests_list' %}" class="tooltip" data-tip="Navigate to the requests page.">⤴</a>
                </span>
            </h2>
            <h4>Users' requests for adding or modifying {{ vocabulary_verbose_name }} Controlled Vocabularies.</h4>
            <div class="vocabulary-links">
                <a id="btnSeeVocabulary" href="{% url vocabulary_code %}" class="button white">See {{ vocabulary_verbose_name }} Terms</a>
            </div>
        </header>
        <div class="column three-columns">
            {% if not requests_list %}
                <p class="no-results-message">There are no requests for this vocabulary.</p>
            {% else %}
                {% block data_table %}
                    <table>
                        <thead>
                        <tr>
                            <th>Term</th>
                            <th>Definition</th>
                            <th>Request Date</th>
                            <th>Status</th>
                            <th>Submitter</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vocabulary_request in requests_list %}
                            <tr>
                                <td><a href="{% url update_url_name vocabulary_request.request_id %}">{{ vocabulary_request.term }}</a></td>
                                <td>{{ vocabulary_request.definition }}</td>
                                <td>{{ vocabulary_request.date_submitted }}</td>
                                <td>{{ vocabulary_request.status }}</td>
                                <td>{{ vocabulary_request.submitter_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
            {% endif %}
        </div>
        <div class="clear"></div>
    </section>
{% endblock %}
