{% extends 'cvinterface/base.html' %}

{% block body %}
    <section class="introduction">
        <header>
            <h2>Master Controlled Vocabulary Registry for ODM2</h2>
        </header>

        <div class="column three-columns">
            <p>
                Version 2 of the Observations Data Model (ODM2) has several controlled vocabularies. This web page was
                developed to promote consistency between different instances of ODM2 through a community moderated
                system for managing the master controlled vocabularies. This web page displays the master controlled
                vocabulary entries and allows you to request additions or changes to these. You may then use these terms
                in an ODM2 database or in files that are intended to be interoperable with ODM2.
            </p><br>
            <p>
                Changes that you request are forwarded to the moderators who will attend to requests as promptly as possible.
                When you submit a request, you should receive an email verifying that your request has been received.
                When your request is approved, you should also receive an email confirmation. If you have a request that
                cannot be accommodated on this website, please contact the moderators:
            </p><br>
            <div id="moderators">
                <div class="moderator">
                    <span class="data">Jeff Horsburgh</span>
                    <span class="data secondary">Utah State University</span>
                    <span class="data secondary"><a href="mailto:jeff.horsburgh@usu.edu">jeff.horsburgh@usu.edu</a></span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>

    <section class="list">
        <header>
            <h2>Controlled Vocabularies</h2>
        </header>
        {% for vocabulary in vocabulary_views %}
            <div class="list-item column three-columns">
                <div class="list-title whole-spaced-title"><a href="{{ vocabulary.url }}"><h3>{{ vocabulary.name }}</h3></a></div>
                <div class="list-description whole-spaced-description"><p>{{ vocabulary.definition }}</p></div>
            </div>
        {% endfor %}
        <div class="list-item column three-columns last-list-item">
            <div class="list-title whole-spaced-title"><a href="{% url 'units' %}"><h3>ODM2 Units</h3></a></div>
            <div class="list-description whole-spaced-description"><p>Units are not treated as a CV in ODM2. However, we have provided this list of Units for those who may want to adopt and use them.</p></div>
        </div>
        <div class="clear"></div>
    </section>
{% endblock %}
