Django==3.2.21
SPARQLWrapper==2.0.0
django-tastypie==0.14.6
django-widget-tweaks==1.4.1
django-environ==0.11.2
html5lib==1.1
isodate==0.6.1
#keepalive==0.5
#mysqlclient==2.2.0
psycopg2-binary==2.9.9
pyparsing==2.1.1
python-dateutil==2.5.2
python-mimeparse==1.5.1
rdflib==7.0.0
six==1.10.0
urllib3==2.0.7