Django==1.8.2
SPARQLWrapper==1.6.4
-e git+https://github.com/django-tastypie/django-tastypie@256ebe1de9a78dfb5d4d6e938b813cf4c5c4ac1b#egg=django_tastypie-master
django-widget-tweaks==1.3
html5lib==0.99999
isodate==0.5.1
mysqlclient==1.3.6
pyparsing==2.0.3
python-mimeparse==0.1.4
rdflib==4.2.0
six==1.9.0
