{% extends 'cvinterface/index.html' %}

{% block title %}
    <title>ODM2 CV: Units</title>
{% endblock %}

{% block body %}
    <section class="concepts-table">
        <header>
{#            <div class="vocabulary-links">#}
{#                <a id="btnAddNew" href="{% url create_url %}" class="button white">New</a>#}
{#                <a id="btnSKOSVocab" target="_blank" href="{% url 'api_dispatch_list' resource_name=vocabulary api_name='v1' %}?format=skos" class="button white">View in SKOS</a>#}
{#                <a id="btnSKOS" download="{{ vocabulary }}.rdf" href="{% url 'api_dispatch_list' resource_name=vocabulary api_name='v1' %}?format=skos" class="button white">Download Vocabulary (SKOS)</a>#}
{#                <a id="btnSKOS" download="{{ vocabulary }}.csv" href="{% url 'api_dispatch_list' resource_name=vocabulary api_name='v1' %}?format=csv" class="button white">Download Vocabulary (CSV)</a>#}
{#            </div>#}
            <h2>Units</h2>
            <div class="clear"></div>
            <h4>Some introduction or text describing what units are and why they are important. or something.</h4>
        </header>

        <div class="column three-columns">
            {% block data_table %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Abbreviation</th>
                            <th>Type</th>
                            <th>Link</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for unit in object_list %}
                            <tr>
                                <td><a>{{ unit.name }}</a></td>
                                <td>{{ unit.abbreviation }}</td>
                                <td>{{ unit.type }}</td>
                                <td>{{ unit.link }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
        <div class="clear"></div>
    </section>
{% endblock %}

