body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    background: linear-gradient(to bottom, #eAeAeA 0%, #F5F5F5 100%) no-repeat fixed;
}

.clear {
    clear: both;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover {
    color: #2a6496;
}

p {
    line-height: 1.4em;
}

#main {
    padding: 45px 30px;
}

.right-border {
    padding-right: 5px;
    border-right: 1px solid rgba(100, 100, 100, .4);
}

.user-name {
    color: #bebebe;
}

.fix-width {
    padding: 0 30px;
    margin: auto;
    width: 960px;
    background-color: #fbfbfb;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

#top-bar {
    padding: 30px 30px;
    background-color: #333333;
    border: 1px solid #333333;
}

#top-bar .brand-name {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    color: #eeeeee;
}

#top-bar #login-info {
    float: right;
    font-size: 0.9em;
}

#content > section > header {
    margin-bottom: 25px;
}

h1, h2, h4 {
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    line-height: 1.9em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.4em;
}

h3 {
    font-size: 1em;
    line-height: 1.4em;
}

h4 {
    font-size: .8em;
    line-height: 1.4em;
}

header > h2 > .vocabulary-type {
    font-size: .7em;
    opacity: .8;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 1px solid rgba(50, 50, 50, .5);
}

footer.fix-width {
    font-size: .8em;
    line-height: 1em;
    padding-bottom: 30px;
}

footer.fix-width hr {
    border: 0;
    height: 1px;
    margin: 0 0 30px 0;
    background: #d6d6d6;
}

.introduction {
    margin-bottom: 45px;
}

.column {
    float: left;
    margin-right: 15px;
}

.last-column {
    float: left;
    margin-right: 0;
}

.one-column {
    width: 310px;
}

.two-columns {
    width: 635px;
}

.three-columns {
    width: 960px;
}

.two-columns p {
    text-align: justify;
}

.moderator {
    float: left;
    width: 205px;
    margin-right: 10px;
}

.moderator:last-child {
    margin-right: 0;
}

.moderator .data {
    display: block;
    line-height: 1.4em;
}

.moderator .secondary {
    font-size: .8em;
}

.list-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

span.required-symbol {
    font-size: 1.2em;
    position: relative;
    top: .5em;
    left: .5em;
    float: left;
}

.last-list-item {
    border-bottom: none;
    padding-bottom: 0;
}

.list-title {
    float: left;
    width: 148px;
    margin-right: 14px;
}

.list-description {
    float: left;
    width: 472px;
}

.list-description p {
    font-size: .95em;
    line-height: 1.55em;
}

.whole-spaced-title {
    width: auto;
}

.whole-spaced-description {
    clear: left;
    width:auto;
}

.no-results-message {
    font-size: .95em;
    color: #555;
    padding: 5px;
}

section.previous-versions {
    margin-top: 2em;
}

table, tbody, tfoot, thead, tr, th, td {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
    text-align: center;
}

table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

td, th {
    border: 1px solid transparent;
    height: 30px;
    transition: all 0.3s;
    line-height: 1.5em;
    font-size: .9em;
}

th {
    background: #DFDFDF;
    font-weight: 600;
    text-align: left;
    padding: 5px 10px;
}

td {
    background: #FAFAFA;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) td {
    background: #F1F1F1;
}

tr:nth-child(odd) td {
    background: #FEFEFE;
}

/* Hover cell effect! */

.vocabulary-links {
    padding-top: .5em;
    margin-top: 1em;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.vocabulary-links .button {
    vertical-align: middle;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: .75em;
    padding: 10px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.button.white {
    background: #f5f5f5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
    border-color: #dedede #d8d8d8 #d3d3d3;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}

.button.white:hover {
    background: #f4f4f4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /*  WebKit */
    background: -moz-linear-gradient(top, #efefef, #f8f8f8);
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    text-shadow: 0 1px 0 #fdfdfd;
    -webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}

.data-view {
    padding-left: 10px;
}

hr.separator {
    margin-top: 30px;
    margin-bottom: 1px;
}

form .list-item {
    border: none;
    font-size: .9em;
}

.form-label-item {
    float: left;
    width: 119px;
    margin-right: 10px;
}

.form-label-item label {
    vertical-align: sub;
}

.form-input-item {
    float: left;
    width: 510px;
    margin-right: 10px;
}

.form-errors-item {
    float: left;
    width: 248px;
    color: rgba(255, 0, 0, .7);
    font-weight: 600;
    margin-left: 15px;
    position: relative;
    top: .35em;
    left: 0.3em;
}

.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    list-style-type: none;
    display: inline-block;
    line-height: 1.5em;
    font-size: 12px;
}

.g-recaptcha {
    float: left;
}

.no-robots {
    padding-top: 35px;
    clear: left;
}

.form-buttons {
    margin-top: 10px;
}

div.not-human-error {
    display: inline-block;
    float: left;
}

.form-input {
    width: 100%;
    padding: 5px;
    font-size: 13.3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea.form-input {
    height: 5em;
}

.requests > section header {
    margin: 10px 0;
}

.requests section:not(:first-of-type) {
    margin-top: 25px;
}

.request-update .request-info-box {
    margin-top: -10px;
}

.request-update .request-info {
    display: block;
    font-size: small;
}

.parent-link {
    margin-left: 5px;
    font-size: .7em;
    opacity: .7;
}

.parent-link a:not(:hover) {
    color: rgba(0, 0, 0, .7);
}

a.tooltip {
    position: relative;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    padding: 2px 14px;
}

a.tooltip::before {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 14px;
    bottom: 0;
    opacity: 0;
    content: "";
    border-style: solid;
    border-width: 10px 8px 0 5px;
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

a.tooltip:hover:before {
    visibility: visible;
    opacity: 1;
    bottom: 1.5em;
}

a.tooltip:after {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: -5px;
    opacity: 0;
    content: attr(data-tip);
    height: 1.5em;
    padding: 5px 8px;
    z-index: 999;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 200;
    font-size: .7em;
    white-space: nowrap;
    line-height: 1.5em;
}

a.tooltip:hover:after {
    visibility: visible;
    opacity: 1;
    bottom: 3em;
}

.messages-container {
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  width: inherit;
}

.messages {
  margin: 0;
  padding: 10px;
  position: absolute;
  top: -45px;
  /* background-color: rgba(80, 80, 80, .05); */
  width: inherit;
  font-size: .9em;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.63);
}

.messages li {
    list-style-type: none;
}

.help-text {
    margin-top: 20px;
    margin-left: 129px;
    margin-bottom: -20px;
    font-size: 14px;
    width: 510px;
    clear: both;
}

@media screen and (max-width: 1100px) {
    .fix-width {
        width: 764px;
    }

    .one-column {
        width: 245px;
    }

    .two-columns {
        width: 510px;
    }

    .three-columns {
        width: 764px;
    }

    .concepts-table h2 {
        float: left;
    }

    .vocabulary-links {
        margin-bottom: 15px;
    }
}