{% extends 'cvinterface/base.html' %}

{% block title %}
    <title>ODM2 CV term: {{ concept.term }}</title>
{% endblock %}

{% block body %}
    <section class="concept-detail">
        <header>
            <h2>
                {{ concept.name }}<span class="vocabulary-type">{{ vocabulary_verbose_name }}</span>
                <span class="parent-link">
                    <a href="{% url vocabulary_code %}" class="tooltip" data-tip="Navigate to the {{ vocabulary_verbose_name }} vocabulary list.">⤴</a>
                </span>
            </h2>
            <h4>{{ concept.definition }}</h4>
            {% if concept.vocabulary_status == 'Archived' %}
                <h4>NOTE: This is an archived version of this term. There is a <a href="{% url detail_url_name concept.revised_version.term concept.revised_version.pk %}">new version</a> available.</h4>
            {% endif %}
            <div class="vocabulary-links">
                {% if concept.vocabulary_status != ARCHIVED %}
                    <a id="btnEdit" href="{% url create_url_name concept.pk %}" class="button white">Edit</a>
                    <a id="btnSKOSTerm" target="_blank" href="{# {% url 'api_dispatch_detail' resource_name=vocabulary api_name='v1' term=concept.term %} #}?format=skos" class="button white">View in SKOS</a>
                    <a id="btnSKOS" download="{{vocabulary_code}}_{{concept.term}}.rdf" href="{# {% url 'api_dispatch_detail' resource_name=vocabulary api_name='v1' term=concept.term %} #}?format=skos" target="_blank" class="button white">Download Term (SKOS)</a>
                    <a id="btnSKOS" download="{{vocabulary_code}}_{{concept.term}}.csv" href="{# {% url 'api_dispatch_detail' resource_name=vocabulary api_name='v1' term=concept.term %} #}?format=csv" target="_blank" class="button white">Download Term (CSV)</a>
                {% endif %}
            </div>
        </header>

        <div class="column two-columns data-view">
            {% for field, value in fields %}
                <div class="list-item column two-columns {% if forloop.last %} last-list-item {% endif %}">
                    <div class="list-title"><h3>{{ field }}</h3></div>
                    <div class="list-description"><p>{{ value|default:"-" }}</p></div>
                </div>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </section>

    {% if user.is_staff %}
        <section class="previous-versions">
            <div class="column two-columns data-view">
                <h4>
                    {% if concept.previous_version %}
                        Previous version of this term: <br><a href="{% url detail_url_name concept.previous_version.term concept.previous_version.pk %}">{{ concept.previous_version.term }}</a> {{ concept.previous_version.definition }}
                    {% endif %}
                </h4>
            </div>
        </section>
    {% endif %}
{% endblock %}
