{% extends 'cvinterface/index.html' %}
{% load tools %}

{% block title %}
    <title>ODM2 CV: {{ vocabulary_verbose }}</title>
{% endblock %}
{% block body %}
    <section class="concepts-table">
        <header>
            <h2>
                {{ vocabulary_verbose_name }} Vocabulary
                <span class="parent-link">
                    <a href="{% url 'home' %}" class="tooltip" data-tip="Navigate to the home page.">⤴</a>
                </span>
            </h2>
            <div class="clear"></div>
            <h4>{{ vocabulary_description }}</h4>
            <div class="vocabulary-links">
                <a id="btnAddNew" href="{{ create_url }}" class="button white">New</a>
                <a id="btnSKOSVocab" target="_blank" href="{{ api_url }}?format=skos" class="button white">View in SKOS</a>
                <a id="btnSKOS" download="{{ vocabulary_code }}.rdf" href="{{ api_url }}?format=skos" class="button white">Download Vocabulary (SKOS)</a>
                <a id="btnCSV" download="{{ vocabulary_code }}.csv" href="{{ api_url }}?format=csv" class="button white">Download Vocabulary (CSV)</a>
            </div>
        </header>
        <div class="column three-columns">
            {% block data_table %}
                <table>
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Name</th>
                        <th>Definition</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for concept in concepts_list %}
                            <tr>
                                <td><a href="{% detail_url concept %}">{{ concept.term }}</a></td>
                                <td>{{ concept.name }}</td>
                                <td>{{ concept.definition }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
        <div class="clear"></div>
    </section>
{% endblock %}
