{% load widget_tweaks %}
{% load tools %}

<div class="column help-text">
    <h4><label for="{{ field.id_for_label }}">{{ field.help_text }}</label></h4>
</div>
<div class="list-item {% if field.field.required %}required{% endif %}" style="clear: both">
    <div class="form-label-item"><h3><label for="{{ field.id_for_label }}">{{ field.label }}</label></h3></div>
    <div class="form-input-item">{{ field|add_class:"form-input" }}</div> {% if field.field.required %} <span class="required-symbol">*</span> {% endif %}
    <div class="form-errors-item">{{ field.errors }}</div>
</div>